<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
	<string>775758894030-dbcaq6g1h4soumfg67auvni81co6o921.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775758894030-dbcaq6g1h4soumfg67auvni81co6o921</string>
	<key>API_KEY</key>
	<string>AIzaSyBTxnJdhjfYBZykiMB56MccG-aVZXML2aM</string>
	<key>GCM_SENDER_ID</key>
	<string>775758894030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaeminpark.JLPT-N2</string>
	<key>PROJECT_ID</key>
	<string>jlpt-n2-a2300</string>
	<key>STORAGE_BUCKET</key>
	<string>jlpt-n2-a2300.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775758894030:ios:97402df14b1ae1ff56919f</string>
</dict>
</plist>
